<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb" style="margin-bottom: 0;padding-bottom: 0">
        <li CLASS="active">
            <a href="#{:url('auth_group/lst')}">用户组管理</a>
        </li>

        <li CLASS="active">
            添加用户组
        </li>
    </ul>
</div>

<form class="form-horizontal" style="" role="form" method="post" action="{:url('auth_group/add')}">
    <!-- #section:elements.form -->
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="auth_group_title">用户组名称 </label>
        <div class="col-sm-6">
            <input type="text" style="width: 100%" name="title" id="auth_group_title" placeholder="用户组名称"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="status"> 启用状态</label>
        <div class="col-sm-6">
            <input name="status" value="1" id="status" checked class="ace ace-switch ace-switch-4"
                   type="checkbox" style="vertical-align: bottom"/>

            <span class="lbl"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">配置权限</label>
        <div class="col-sm-6">
            <table class="table table-responsive table-bordered">
                <tbody>
                {volist name="list" id="item"}
                <tr class="active">
                    <td>
                        <?php echo str_repeat('&nbsp;',$item['level']*4);?>
                        <div class="checkbox"  style="display: inline-block">
                            <label>
                                <input type="checkbox" name="rules[]" value="{$item.id}">
                                {$item.title}
                            </label>
                        </div>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <span class="lbl"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"></label>
        <div class="col-sm-6">
            <input value="添加" type="submit" class="btn btn-large btn-primary radius-4"/>
        </div>
    </div>
</form>

