<div class="breadcrumbs " id="breadcrumbs" style="margin-bottom:10px;">
    <ul class="breadcrumb" style="margin-bottom: 0;padding-bottom: 0">
        <li CLASS="active">
            用户组管理
        </li>
    </ul>
</div>

<button class="btn btn-primary btn-large">
    <a style="color: white;text-decoration-line: none"
       href="#{:url('auth_group/add')}">添加</a>
</button>
<button class="btn btn-danger btn-large">
    删除
</button>
<table class="table table-responsive table-bordered table-hover">
    <thead>
    <tr class="active">
        <th class="center">
            <label class="position-relative">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th>
        <th>ID</th>
        <th>用户组名称</th>
        <th class="hidden-480">状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="item"}
    <tr class="active">
        <td class="center" style="width: 5%">
            <label class="position-relative">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </td>

        <td  style="width: 10%">{$item.id}</td>
        <td class="hidden-480">{$item.title}</td>

        <td class="hidden-480">

            {if condition="$item.status eq 1"}
            <span class="label label-sm label-success">启用</span>
            {else /}
            <span class="label label-sm label-danger">关闭</span>
            {/if}
        </td>

        <td  style="width: 20%">
            <div class="hidden-sm hidden-xs btn-group">

                <button class="btn btn-xs btn-info">
                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>

                <button class="btn btn-xs btn-danger">
                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                </button>

            </div>

            <div class="hidden-md hidden-lg">
                <div class="inline position-relative">
                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"
                            data-position="auto">
                        <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                        <li>
                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
									<span class="blue">
                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                    </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
									<span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                    </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                <span class="red">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>